.searchResults {
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
    border-left: 3px solid indigo;
    border-right: 3px solid indigo;
}

ul {
    margin: 0;
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}

.results {
    display: flex;
    height: 80vh;
  }
  
.results > * {
    padding: 10px;
}

.courseInfo {
    width: 80%;
    display: flex;
    justify-content: center;
}

.reviews {
    width: 45%;
    height: 100%;
    overflow-y: scroll;
}

.reviews h3 {
    text-align: center;
}